.logo{
    
    margin: 10px;
    height: 80px;
    width: 80px;
}
.mainlogo{
padding-left: 700px;
    height: 100px;
    width: 300px;
}
.sideloga{
    padding-left: 28%;
    height: 70px;
    width: 250px;
}
