.centerDiv{
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
}

.MainImage{
    width: 70%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.MainImage img{
    width: 95%;
    background: #b2fefa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b2fefa, #0ed2f7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b2fefa, #0ed2f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.detail{
    
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.detail > ul{
    margin-left: 14px;
    list-style-type: none;
}