
.App-header{
  border: 1px solid black;
  height: 10vh;
}

.side-center{
  height: 80vh;
  display: flex;

}

.sideBar{
  border: 1px solid black;
  width: 30%;
}

.centerDiv{
  border: 1px solid black;
  width: 70%;
  
}