
.App-header{
 
  height: 11vh;
  background: #2980b9; 
  background: -webkit-linear-gradient(to left, #2980b9, #6dd5fa, #ffffff); 
  background: linear-gradient(to left, #2980b9, #6dd5fa, #ffffff); 
}

.side-center{
  /* height: 80vh; */
  display: flex;

}

.sideBar{
  border: 1px solid black;
  width: 30%;
}

.centerDiv{
  border: 1px solid black;
  width: 70%;
  
}